@font-face {
    src: url(./fonts/RobotoSlab-Medium.ttf);
    font-family: 'RobotoSlab-Medium';
}

@font-face {
    src: url(./fonts/RobotoSlab-Bold.ttf);
    font-family: 'RobotoSlab-Bold';
}

@font-face {
    src: url(./fonts/RobotoSlab-Light.ttf);
    font-family: 'RobotoSlab-Light';
}

@font-face {
    src: url(./fonts/RobotoSlab-Regular.ttf);
    font-family: 'RobotoSlab-Regular';
}

@font-face {
    src: url(./fonts/Pacifico-Regular.ttf);
    font-family: 'Pacifico-Regular';
}

@font-face {
    src: url(./fonts/ABeeZee-Regular.ttf);
    font-family: 'ABeeZee-Regular';
}