* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

button {
    display: block;
    background: unset;
    border: unset;
    outline: unset;
    cursor: pointer;
}

img {
    display: block;
    width: 100%;
}

section {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.blackout {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 996;
}

.menuBlock {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: url(./assets/background/modalBackground.png) center no-repeat;
    background-blend-mode: multiply;
    background-color: silver;
    background-size: cover;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    visibility: hidden;
    width: 300px;
    height: 340px;
    bottom: 0;
    top: 0;
    right: -100%;
    margin: auto;
    transition: 1s;
    z-index: 999;
}
/* 
@keyframes movement {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
} */

.menuBlockActive {
    /* animation: movement 1s ease forwards; */
    right: 0;
    visibility: visible;
}

.menuBlock-title {
    font-size: 23px;
    border-bottom: 2px solid #fff;
}

/* -----------============ header ============----------- */

header {
    background: url(./assets/background/4015db3053c401bf5c6d3eef84d7c583.jpg) center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 130px;
    user-select: none;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header a,
h2 {
    font: 100 18px 'RobotoSlab-Medium';
    color: #ffff;
}

.navigation {
    display: flex;
}

.header-logo {
    position: relative;
    background: #ffff;
    border: 5px double #000;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.header-logoImg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 75%;
    height: auto;
}

.header-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header-listItem {
    padding: 5px 20px;
}

.header-listItem-links {
    position: relative;
}

.header-listItem-links::before {
    content: '';
    position: absolute;
    background: #ffff;
    width: 10px;
    height: 2px;
    left: -1em;
    top: 0.6em;
    transition: .5s;
    opacity: 0;
}

.header-listItem-links:hover::before {
    opacity: 1;
}

.header-netWorks {
    display: flex;
    justify-content: space-around;
    width: 140px;
}

.header-netWorks div {
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(-10deg);
    }
}

.header-menuLink {
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 35px;
    z-index: 997;
}

.header-menuLink::before,
.header-menuLink-line,
.header-menuLink::after {
    content: '';
    background: #ffff;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    transition: .3s;
}

.activeMenuLink span {
    visibility: hidden;
    opacity: 0;
}

.activeMenuLink::before {
    transform: translateY(15px) rotate(-45deg);
}

.activeMenuLink::after {
    transform: translateY(-15px) rotate(45deg);
}

/* -----------============ slider ============----------- */

.slider {
    position: relative;
    background: url(./assets/background/wood_boards_001.jpg) center no-repeat;
    box-shadow: inset 7px 4px 61px 44px rgba(0, 0, 0, 0.75);
    background-size: cover;
    width: 100vw;
    height: 400px;
}

.slick-list {
    position: absolute;
    height: fit-content;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
}


.slick-track {
    display: flex;
    align-items: flex-start;
}

.slider-blockImg {
    text-align: center;
    width: 350px;
    height: fit-content;
    outline: none;
    transition: 1s;
    transform: scale(0.8);
    margin: 10px;
    opacity: 0.7;
}

.slider-blockImg img {
    border-radius: 10px;
}

.slick-center {
    transform: unset;
    opacity: 1;
}

.slick-arrow {
    position: absolute;
    background: url(./assets/logo/chevron-arrow-down.svg) center no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    font-size: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 3;
}

.slick-disabled {
    opacity: 0.4;
}

.slick-prev {
    left: 1em;
    transform: rotate(90deg);
}

.slick-next {
    right: 1em;
    transform: rotate(-90deg);
}

.slick-dots {
    position: absolute;
}

.slick-dots {
    position: absolute;
    display: flex;
    width: fit-content;
    bottom: 1em;
    left: 0;
    right: 0;
    margin: auto;
}

.slick-dots button {
    font-size: 0;
    background: transparent;
    border: 1px solid burlywood;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 5px;
}

.slick-active button {
    background: burlywood;
    transform: scale(1.4);
}

/* -----------============ media ============----------- */

@media (min-width: 855px) {
    .header-list {
        flex-direction: row;
        max-width: 75%;
    }

    .slick-list {
        max-width: 75%;
    }
}

@media (min-width: 1024px) {
    .header-netWorks div:hover {
        animation: shake .3s forwards ease infinite;
    }

    .header-netWorks-viber:hover {
        box-shadow: 0px 0px 0 4px #681f7b;
    }

    .header-netWorks-teleg:hover {
        box-shadow: 0px 0px 0 4px #0091c8;
    }
}

/* -----------============ The End ============----------- */