* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-size: 100%;
}

::selection {
    color:gray;
    background: #000;
}

::-webkit-scrollbar {
    display: none;
}

button {
    display: block;
    background: unset;
    border: unset;
    outline: unset;
    cursor: pointer;
}

img {
    display: block;
    width: 100%;
}

section {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.error {
    font: 100 20px none !important;
    color: #ff0000 !important;
}

.blackout {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 996;
}

button,
header,
.slider {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.hostelInfo,
.menuBlock-wrapper {
    background-blend-mode: multiply;
    background-color: silver !important;
}

/* -----------============ header ============----------- */

header {
    background: url(./assets/background/4015db3053c401bf5c6d3eef84d7c583.jpg) center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 130px;
}

header a,
h2 {
    font: 100 18px 'RobotoSlab-Medium';
    color: #ffff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navigation {
    display: flex;
}

.header-logo {
    position: relative;
    background: #ffff;
    border: 5px double #000;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.header-logoImg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 75%;
    height: auto;
}

.header-list {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header-listItem {
    padding: 5px 20px;
}

.header-listItem-links {
    position: relative;
}

.header-listItem-links::before {
    content: '';
    position: absolute;
    background: #ffff;
    width: 10px;
    height: 2px;
    left: -1em;
    top: 0.6em;
    transition: opacity .5s;
    opacity: 0;
}

.header-listItem-links:hover::before {
    opacity: 1;
}

.header-netWorks {
    display: flex;
    justify-content: space-around;
    width: 140px;
}

.header-netWorks div {
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: box-shadow 1s;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(-10deg);
    }
}

.header-menuLink {
    position: relative;
    flex-direction: column;
    -ms-flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 35px;
    z-index: 997;
}

.header-menuLink::before,
.header-menuLink-line,
.header-menuLink::after {
    content: '';
    background: #ffff;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    transition: transform .3s;
}

.activeMenuLink span {
    visibility: hidden;
    opacity: 0;
}

.activeMenuLink::before {
    transform: translateY(15px) rotate(-45deg);
}

.activeMenuLink::after {
    transform: translateY(-15px) rotate(45deg);
}

.menuBlock {
    position: fixed;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    visibility: hidden;
    width: 300px;
    height: 340px;
    bottom: 0;
    top: 1em;
    right: -100%;
    margin: auto;
    transition: right .5s, visibility .5s;
    overflow: hidden;
    z-index: 999;
}

.menuBlock-wrapper {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: url(./assets/background/modalBackground.png) center no-repeat;
    background-blend-mode: multiply;
    width: 100%;
    height: 100%;
}

.menuBlockActive {
    right: 0;
    visibility: visible;
}

.menuBlock-title {
    font-size: 23px;
    border-bottom: 2px solid #fff;
}

.lineBetweenSections {
    background: url(./assets/background/4015db3053c401bf5c6d3eef84d7c583.jpg) center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 65px;
}

/* -----------============ slider ============----------- */

.slider {
    position: relative;
    background: url(./assets/background/wood_boards_001.jpg) center no-repeat;
    box-shadow: inset 7px 4px 61px 44px rgba(0, 0, 0, 0.75);
    background-size: cover;
    width: 100vw;
    height: 450px;
}

.slick-list {
    position: absolute;
    height: fit-content;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
}


.slick-track {
    display: flex;
    align-items: flex-start;
}

.slider-blockImg {
    text-align: center;
    width: 350px;
    height: fit-content;
    outline: none;
    transition: opacity 1s, transform 1s;
    transform: scale(0.8);
    margin: 20px;
    opacity: 0.7;
}

.slider-blockImg img {
    border-radius: 10px;
    box-shadow: 0px 0px 13px 1px rgba(0, 0, 0);
}

.slick-center {
    transform: unset;
    opacity: 1;
}

.slick-arrow {
    position: absolute;
    background: url(./assets/logo/chevron-arrow-down.svg) center no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    font-size: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 3;
}

.slick-disabled {
    opacity: 0.4;
}

.slick-prev {
    left: 1em;
    transform: rotate(90deg);
}

.slick-next {
    right: 1em;
    transform: rotate(-90deg);
}

.slick-dots {
    position: absolute;
    display: flex;
    width: fit-content;
    bottom: 2em;
    left: 0;
    right: 0;
    margin: auto;
}

.slick-dots button {
    font-size: 0;
    background: transparent;
    border: 1px solid burlywood;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 5px;
}

.slick-active button {
    background: burlywood;
    transform: scale(1.4);
}

/* -----------============ hostelInfo ============----------- */

.hostelInfo {
    position: relative;
    background: url(./assets/background/forest.jpg) center no-repeat;
    background-size: cover;
    box-shadow: inset -1px 101px 53px -77px rgba(0, 0, 0, 0.75);
    width: 100vw;
    height: fit-content;
    padding: 40px;
}

.hostelInfo p,
h1,
button {
    color: #ffff;
}

.hostelInfo-wrapper {
    max-width: 600px;
}

.hostelInfo-mainTitle {
    font: 100 27px 'RobotoSlab-Bold';
    border-bottom: 2px solid #ffff;
    width: fit-content;
    margin: auto;
}

.hostelInfo-blockInfo,
.hostelInfo-modalIcon p {
    font: 100 16px 'RobotoSlab-Light';
    text-align: justify;
    margin-top: 30px;
    line-height: 1.7;
}

.hostelInfo-buttonReadMore {
    font: 100 16px 'RobotoSlab-Medium';
    background: transparent;
    border: 2px solid #ffff;
    padding: 15px 20px;
    margin: 40px auto;
    transition: background .5s, color .5s;
}

.hostelInfo-buttonReadMore:hover {
    background: #ffff;
    color: #000;
}

.hostelInfo-modalIcon {
    position: absolute;
    background: #ffff;
    border-radius: 10px;
    max-width: 700px;
    height: fit-content;
    padding: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 999;
}

.hostelInfo-modalIcon p {
    color: #000;
    margin: 0;
}

/* -----------============ media ============----------- */

@media (min-width: 855px) {
    .header-list {
        flex-direction: row;
        -ms-flex-direction: row;
        max-width: 75%;
    }

    .slick-list {
        max-width: 75%;
    }

    .hostelInfo-mainTitle,
    .hostelInfo-buttonReadMore {
        margin: 40px 0;
    }
}

@media (min-width: 1024px) {
    .header-netWorks div:hover {
        animation: shake .3s forwards ease infinite;
        -webkit-animation: shake .3s forwards ease infinite;
        -moz-animation: shake .3s forwards ease infinite;
        -o-animation: shake .3s forwards ease infinite;
    }

    .header-netWorks-viber:hover {
        box-shadow: 0px 0px 0 4px #681f7b;
    }

    .header-netWorks-teleg:hover {
        box-shadow: 0px 0px 0 4px #0091c8;
    }
}

/* -----------============ The End ============----------- */