* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-size: 100%;
}

::selection {
    color: gray;
    background: #000;
}

a,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
button {
    color: #ffff;
}

::-webkit-scrollbar {
    display: none;
}

button {
    display: block;
    background: unset;
    border: unset;
    outline: unset;
    cursor: pointer;
}

img {
    display: block;
    width: 100%;
}

span {
    display: block;
}

section {
    overflow: hidden;
    width: 100vw;
    height: fit-content;
}

.blackout {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 996;
}

button,
header,
.slider,
.priceResidence {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.lineBetweenSections {
    background: url(./assets/background/4015db3053c401bf5c6d3eef84d7c583.jpg) center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 65px;
}

section:not(.header) {
    box-shadow: inset 7px 4px 61px 44px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: inset 7px 4px 61px 44px rgba(0, 0, 0, 0.75);
}

.hostelInfo-mainTitle,
.priceResidence-mainTitle,
.contacts-mainTitle {
    font: 100 27px 'RobotoSlab-Bold';
    border-bottom: 2px solid #ffff;
    width: fit-content;
    margin: 0 auto;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

/* -----------============ header ============----------- */

header {
    background: url(./assets/background/4015db3053c401bf5c6d3eef84d7c583.jpg) center no-repeat;
    background-size: cover;
    font: 100 18px 'RobotoSlab-Medium';
    width: 100vw;
    height: 130px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.navigation {
    display: flex;
}

.header-logo {
    position: relative;
    background: #ffff;
    border: 5px double #000;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.header-logoImg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 75%;
    height: auto;
}

.header-list {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header-listItem {
    padding: 5px 20px;
}

.header-listItem-links {
    position: relative;
}

.header-listItem-links::before {
    content: '';
    position: absolute;
    background: #ffff;
    width: 10px;
    height: 2px;
    left: -1em;
    top: 0.6em;
    transition: opacity .5s;
    -ms-transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    opacity: 0;
}

.header-listItem-links:hover::before {
    opacity: 1;
}

.header-netWorks {
    display: flex;
    justify-content: space-around;
    width: 140px;
}

.header-netWorks div {
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: box-shadow 1s;
    -ms-transition: box-shadow 1s;
    -webkit-transition: box-shadow 1s;
    -moz-transition: box-shadow 1s;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(-10deg);
    }
}

.header-menuLink {
    position: relative;
    flex-direction: column;
    -ms-flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 35px;
    z-index: 997;
}

.header-menuLink::before,
.header-menuLink-line,
.header-menuLink::after {
    content: '';
    background: #ffff;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    transition: transform .3s;
    -ms-transition: transform .3s;
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
}

.menuBlock {
    position: fixed;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    visibility: hidden;
    width: 300px;
    height: 340px;
    bottom: 0;
    top: 1em;
    right: -100%;
    margin: auto 0;
    transition: right .5s, visibility .5s;
    -ms-transition: right .5s, visibility .5s;
    -webkit-transition: right .5s, visibility .5s;
    -moz-transition: right .5s, visibility .5s;
    overflow: hidden;
    z-index: 999;
}

.menuBlock-wrapper {
    display: flex;
    background: url(./assets/background/modalBackground.jpg) center no-repeat;
    background-size: cover;
    flex-direction: column;
    -ms-flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.menuBlock-title {
    font-size: 23px;
    border-bottom: 2px solid #fff;
}

/* -----------============ slider ============----------- */

.slider {
    position: relative;
    background: url(./assets/background/0-02-05-42f7c436e22544bf83ee76bc267f929f9d2ae8109a8b4ba049ebcef1186599a9_5fdbf7ea.jpg) center no-repeat;
    background-size: cover;
    height: 450px;
}

.slick-list {
    position: absolute;
    height: fit-content;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slider-blockImg {
    text-align: center;
    width: 350px;
    height: fit-content;
    outline: none;
    transform: scale(0.8);
    transition: opacity 1s, transform 1s;
    -ms-transition: opacity 1s, transform 1s;
    -webkit-transition: opacity 1s, transform 1s;
    -moz-transition: opacity 1s, transform 1s;
    margin: 20px;
    opacity: 0.7;
}

.slider-blockImg img {
    border-radius: 10px;
    box-shadow: 0px 0px 13px 1px rgba(0, 0, 0);
    -webkit-box-shadow: 0px 0px 13px 1px rgba(0, 0, 0);
}

.slick-center {
    transform: unset;
    opacity: 1;
}

.slick-arrow {
    position: absolute;
    background: url(./assets/logo/chevron-arrow-down.svg) center no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    font-size: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 3;
}

.slick-disabled {
    opacity: 0.4;
}

.slick-prev {
    left: 1em;
    transform: rotate(90deg);
}

.slick-next {
    right: 1em;
    transform: rotate(-90deg);
}

.slick-dots {
    position: absolute;
    display: flex;
    width: fit-content;
    bottom: 2em;
    left: 0;
    right: 0;
    margin: auto;
}

.slick-dots button {
    font-size: 0;
    background: transparent;
    border: 1px solid burlywood;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 5px;
}

.slick-active button {
    background: burlywood;
    transform: scale(1.4);
}

/* -----------============ hostelInfo ============----------- */

.hostelInfo {
    background: url(./assets/background/0-02-05-40b0e3054a22b35f6b571370b09676e423395b7e26243bb23164ac06857bebbf_12bdf01a.jpg) center no-repeat;
    background-size: cover;
    padding: 40px;
}

.hostelInfo-wrapper {
    max-width: 600px;
    margin: 0 auto;
}

.hostelInfo-wrapperInfo,
.hostelInfo-modalIcon p {
    font: 100 16px 'RobotoSlab-Light';
    text-align: justify;
    margin-top: 30px;
    line-height: 1.7;
}

.hostelInfo-buttonReadMore {
    font: 100 16px 'RobotoSlab-Medium';
    background: transparent;
    border: 2px solid #ffff;
    padding: 15px 20px;
    margin: 40px auto;
    transition: background .5s, color .5s;
    -ms-transition: background .5s, color .5s;
    -webkit-transition: background .5s, color .5s;
    -moz-transition: background .5s, color .5s;
}

.hostelInfo-buttonReadMore:hover {
    background: #ffff;
    color: #000;
}

.hostelInfo-modalIcon {
    position: fixed;
    background: #ffff;
    border-radius: 10px;
    max-width: 700px;
    height: fit-content;
    padding: 40px 20px;
    visibility: hidden;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 999;
    transition: opacity .5s, visibility .5s;
    -ms-transition: opacity .5s, visibility .5s;
    -webkit-transition: opacity .5s, visibility .5s;
    -moz-transition: opacity .5s, visibility .5s;
    opacity: 0;
}

.hostelInfo-modalIcon-wrapper {
    width: 100%;
    height: 430px;
    overflow: scroll;
}

.hostelInfo-modalIcon-wrapper::-webkit-scrollbar {
    display: unset;
    width: 20px;
}

.hostelInfo-modalIcon-wrapper::-webkit-scrollbar-track {
    background: #fff;
}

.hostelInfo-modalIcon-wrapper::-webkit-scrollbar-thumb {
    border: 7px solid #ffff;
    background: #505050;
    border-radius: 50px;
}

.hostelInfo-modalIcon-closeButton {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0;
    top: 0;
    margin: 5px;
}

.hostelInfo-modalIcon-closeButton::before,
.hostelInfo-modalIcon-closeButton::after {
    content: '';
    position: absolute;
    background: #000;
    border-radius: 10px;
    width: 100%;
    height: 5px;
}

.hostelInfo-modalIcon-closeButton::before {
    transform: translateX(-15px) rotate(45deg);
}

.hostelInfo-modalIcon-closeButton::after {
    transform: translateX(-15px) rotate(-45deg);
}

.hostelInfo-modalIcon p {
    color: #000;
    margin: 0;
}

/* -----------============ priceResidence ============----------- */

.priceResidence {
    background: url(./assets/background/) center no-repeat;
    background-size: cover;
    padding: 40px 0;
}

.priceResidence-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.priceResidence-wrapper>div {
    background: url(./assets/background/abstract-1846392_960_720.jpg) center no-repeat;
    background-size: cover;
    border: 2px solid #503a31;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    width: 250px;
    height: 250px;
    margin: 30px;
    padding: 20px 0;
    animation: verticalMovement 4s forwards ease infinite;
    -webkit-animation: verticalMovement 4s forwards ease infinite;
    -moz-animation: verticalMovement 4s forwards ease infinite;
    -o-animation: verticalMovement 4s forwards ease infinite;
}

@keyframes verticalMovement {
    0% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(10px);
    }
}

.priceResidence-listCards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.priceResidence-listCardsItem {
    display: flex;
    border-bottom: 1px dashed #ffff;
    width: 90%;
}

.priceResidence-title {
    font: 100 20px 'RobotoSlab-Bold';
    border-bottom: 3px solid #503a31;
    text-align: center;
}

.priceResidence-listCardsItem span {
    font: 900 17px 'RobotoSlab-Regular';
    width: 100%;
}

/* -----------============ contacts ============----------- */

.contacts {
    background: url(./assets/background/doski-derevo-fon-1.jpg) center no-repeat;
    background-size: cover;
    padding: 40px 20px;
}

.contacts-wrapper {
    display: flex;
    background: url(./assets/background/0-02-05-3fd0c7959a21b4b88cb025f49b067643a27d1cd7cece542d5624aef112cd09b7_a9066adf.jpg) center no-repeat;
    background-size: cover;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
    justify-content: space-between;
    border-radius: 10px;
    flex-wrap: wrap;
    max-width: 850px;
    padding: 20px 10px;
    margin: 30px auto;
}

.contacts-map {
    width: 100%;
    height: 400px;
}

.contacts-map iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.contacts-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
    margin: 25px 0 0 20px;
}

.contacts-wrapperInfo-txt:first-child {
    border-bottom: 2px solid #ffff;
    padding-bottom: 15px;
}

.contacts-wrapperInfo-title {
    position: relative;
    font: 100 23px 'RobotoSlab-Medium';
}

.contacts-wrapperInfo-title::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: -1.1em;
    top: 0.3em;
}

.logoAdress::before {
    background: url(./assets/logo/pin.svg) center no-repeat;
    background-size: cover;
}

.logoTel::before {
    background: url(./assets/logo/call.svg) center no-repeat;
    background-size: cover;
}

.contacts-wrapperInfo-location {
    width: 200px;
    height: fit-content;
}

.contacts-wrapperInfo-txt span {
    position: relative;
    font: 100 17px 'RobotoSlab-Regular';
    margin: 10px 0 0 30px;
}

.contacts-wrapperInfo-txt span::before {
    content: '';
    position: absolute;
    background: #ffff;
    width: 10px;
    height: 3px;
    left: -1.5em;
    top: 0.6em;
}

/* -----------============ additions ============----------- */

.hostelInfo,
.menuBlock-wrapper {
    background-blend-mode: multiply;
    background-color: silver;
}

.modalIconActive {
    visibility: visible;
    opacity: 1;
}

.menuBlockActive {
    right: 0;
    visibility: visible;
}

.activeMenuLink span {
    visibility: hidden;
    opacity: 0;
}

.activeMenuLink::before {
    transform: translateY(15px) rotate(-45deg);
}

.activeMenuLink::after {
    transform: translateY(-15px) rotate(45deg);
}

/* -----------============ media ============----------- */

@media (min-width: 768px) {
    contacts,
    .hostelInfo,
    .slider {
        background-attachment: fixed;
    }

    .header-list {
        flex-direction: row;
        -ms-flex-direction: row;
    }

    .slick-list {
        max-width: 75%;
    }

    .hostelInfo-mainTitle,
    .hostelInfo-buttonReadMore {
        margin: 40px 0;
    }

    .hostelInfo-wrapper {
        margin-right: 0;
    }

    .contacts-map {
        width: 65%;
    }
}

@media (min-width: 1024px) {
    .header-netWorks div:hover {
        animation: shake .3s forwards ease infinite;
        -webkit-animation: shake .3s forwards ease infinite;
        -moz-animation: shake .3s forwards ease infinite;
        -o-animation: shake .3s forwards ease infinite;
    }

    .header-netWorks-viber:hover {
        box-shadow: 0px 0px 0 4px #681f7b;
        -webkit-box-shadow: 0px 0px 0 4px #681f7b;
    }

    .header-netWorks-teleg:hover {
        box-shadow: 0px 0px 0 4px #0091c8;
        -webkit-box-shadow: 0px 0px 0 4px #0091c8;
    }

    .hostelInfo-modalIcon-wrapper {
        overflow: unset;
    }

    .hostelInfo-modalIcon-wrapper::-webkit-scrollbar {
        display: none;
    }
}

/* -----------============ The End ============----------- */